modules = ["web", "nodejs-20"]
run = "npm run dev"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "npm run preview -- --host 0.0.0.0 --port 5000"]
build = ["sh", "-c", "npm run build"]

[workflows]
runButton = "Start Dev Server"

[[workflows.workflow]]
name = "Start Dev Server"
author = 13212339
mode = "parallel"

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[ports]]
localPort = 5173
externalPort = 80
