modules = ["web", "nodejs-20"]
run = "npm run dev"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "npm run preview -- --host 0.0.0.0 --port 5000"]
build = ["sh", "-c", "npm run build"]

[workflows]
runButton = "Dev Server"

[[workflows.workflow]]
name = "Dev Server"
author = 13212339
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev -- --host 0.0.0.0 --port 5173"
